conky.config = {

-- Size and Position --
    alignment             = 'middle_middle',
    gap_x                 = -12,
    gap_y                 = 20,
    minimum_height        = 640,
    minimum_width         = 1195,

-- Text --
    use_xft               = true,
    override_utf8_locale  = true,
    short_units           = true,
    text_buffer_size      = 2048,

-- Window --
    background            = false,
    double_buffer         = true,
    own_window            = true,
    own_window_class      = 'Conky',
    own_window_type       = 'normal',
    own_window_transparent = true,
    own_window_hints      = 'undecorated,sticky,skip_taskbar,skip_pager,below',
    own_window_argb_visual = true,
    own_window_argb_value = 0,

-- Other --
    update_interval       = 1,

-- Lua --
    lua_load              = "settings.lua start.lua",
    lua_draw_hook_pre     = "main",
}

conky.text = [[]]

